* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background:#ccc;
	font-family:verdana;
	font-size: 100%;
	padding:0;
	margin:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	user-select: none;
}
html, body, div, span, object, form, input, h1, h2, button, label, a, img {
	user-select: none;
	user-drag: none;
}
input[type=text] {
	user-select: text;
}
h1, h2, h3, h4, h5, h6  {
	margin:0;
	padding:0;
	font-weight: 100;
	font-size: 100%;
}
a,
a:hover {
	text-decoration: none;
}

#appRoot {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background:#fff;
}
@media only screen and (min-width: 1000px) {
  /* rules that only apply for canvases larger than 1200px */
  #appRoot {
  	width:320px;
  	height:480px;
  }
}

/**********************
* Biggest Blocks
**********************/
#appHeader {
	height:6%;
	background: #8e1000;
	overflow: hidden;
}
#appContent {
	position: absolute;
	top:6%;
	left:0;
	right:0;
	bottom:0;
	height:auto;
	overflow: auto;

	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
}


/**********************
* Header Elements Blocks
**********************/
#appHeader #appTitle {
	width:35%;
	height:100%;
	float:left;
}
#appHeader #appStatus {
	float:right;
	height:100%;
	width:45%;
}
#appHeader #appBackButton {
	float:right;
	width:20%;
	height:100%;
}

/**********************
* Header Elements Details
**********************/
#appHeader #appTitle {
	font-size:.8em;
	padding-top:2%;
	text-indent: 2%;
	color:#fff;
}
#appHeader #appStatus {
	text-align: right;
	height:100%;
}
#appHeader #appBackButton {
	background: #eee;
	color:#000;
	text-decoration: none;
	text-align: center;
	padding-top:1.5%;
}
#appHeader #appStatus .icon {
	display: inline-block;
	margin-top:3%;
	height:70%;
	width:20%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right:2%;
}
#appHeader #appStatus .icon.facebook {
	background-image: url('../img/facebook.gif');
}
#appHeader #appStatus .icon.user {
	background-image: url('../img/user.png');
}
#appHeader #appStatus .icon.anonymous {
	background-image: url('../img/user_unknown.png');
}
#appHeader #appStatus .icon.server {
	background-image: url('../img/server.png');
}
#appHeader #appStatus .icon.disk {
	background-image: url('../img/disk.png');	
}
#appHeader #appStatus .icon.success {
	background-image: url('../img/success.png');
}
#appHeader #appStatus .icon.error {
	background-image: url('../img/error.png');	
}
#appHeader #appStatus .icon.busy {
	background-image: url('../img/ajax-loader.gif');	
}


#appBackButton:hover {
	text-decoration: none;	
}
#appDialog {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
	background-image: url('../img/overlay.png');
}
#appDialog.active {
	display:block;
}
#appDialogContent {
	border: 2px solid #000;
	background: #fff;
	padding:2% 5% 2% 5%;
	position: absolute;
	left:2%;
	top:2%;
	right:2%;
	bottom:2%;

}
#appDialogContent.narrow {
	top:25%;
	bottom:25%;
}
#appDialogContent.narrow .controls {
	bottom:5%;
}
.fauxlink {
	cursor:pointer;
}

h1.betterAngelsTitle {
	font-weight:bold;
	font-variant: small-caps;
	font-family: 'Verdana';
	text-align: center;
	background: url('../img/logo.jpg') 50% 50% no-repeat;
	background-size: contain;
	height:30%;
}
h1.betterAngelsTitle b {
	margin-left:40px;
	display: block;
}

.page {
	height:100%;
}
.page.home .menu {
	text-align: center;
	margin-bottom:30px;
}
.page.home .menu .menuItem {
	position: relative;
	display: inline-block;
	width:80px;
	height:80px;
	margin: 15px;
	border: 3px solid #000;
	text-align: center;
	text-decoration: none;
	background: #eee
	font-size:12em;
}
.page.home .menu .menuItem span {
	position: absolute;
	left:-10px;
	top:80px;
	text-align: center;
	width:100px;
}
.page.dynamic .wrapper {
	padding:2% 5%;
	height:96%;
}
.page.dynamic h1 {
	font-size: 1.3em;
	margin:0 0 .5em 0;
	padding:0;
	font-weight: bold;
	font-variant: small-caps;
}
.page.dynamic p {
	margin: .5em 0;
}

.page .fauxlink.children {
	display: block;
	text-align: center;
	border:1px solid #ccc;
	margin-bottom:.5em;
	width:48%;
	height:15%;
	float:right;
	position: relative;
}
.page .fauxlink.children:nth-child(odd) {
	float:left;
}
.page .fauxlink.children:active {
	background: #e11900;
	color:#fff;
}
.page .fauxlink.children div {
	width:100%;
	height:100%;
  	display: table;	
}
.page .fauxlink.children div p {
	display: table-cell; 
  	vertical-align: middle;
}

.tabContainer {
}
.tabRow {
	display:block;
	list-style: none;
	height:32px;
	margin:0;
	padding:0;
	background: #333;
	overflow: hidden;
	width:105%;
}
.tabRow .tabHeader {
	margin:0;
	padding:0;
	float:left;
	list-style: none;
	width:33%;

	display: block;
	color:#fff;
	text-align: center;
	line-height: 30px;

	background: #999;
	border:1px solid #999;
	border-bottom:1px solid #999;
	text-decoration: none;
}
.tabRow .tabHeader.active {
	background: #fff;
	color:#000;
	border-top:1px solid #fff;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #fff;
}
.tabRow.two .tabHeader {
	width:49%;
}
.tabRow.three .tabHeader {
	width:32%;
}
.tabRow .tabHeader:first-child {
	border-left:none;
}
.tabRow .tabHeader:last-child {
	border-right:none;
}

.tabContent {
	float:left;
}
.tabContent.active {
}

p {
	margin:0;
	padding:0;
}

textarea {
	width:100%;
}

.facebookStatus {
	margin:0 auto;
	text-align: center;
}
.facebookStatus .facebookLogin {
	display: block;
	line-height: 35px;
	border:1px solid #000;
	text-align: center;
	text-decoration:none;
	width:245px;
	background: blue;
	color:#fff;
	margin:0 auto;
	border-radius: 10px;
}

.characterHeader {
	display: block;
	padding:10px;
	height:72px;
	position:relative;
	text-decoration: none;
}
.characterHeader:active {
	background: #fff;
}
.characterHeader h1 {
	font-size:1.2em;
	font-variant: small-caps;
	font-weight: bold;
}
.characterHeader h2 {
	float:left;
}
.characterHeader h3 {
	float:right;
}
.characterHeader .image {
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	background: #fff;
	border:1px solid #333;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.characterHeader .boundingBox {
	display: block;
	position: absolute;
	left:22%;
	top:10px;
	width:78%;
	height:50px;
}
.characterHeader.demon {
	background: #000;
	color:#fff;
}
.characterHeader.demon h1 {
	color:yellow;
}
.characterHeader.demon .image {
	-o-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-ms-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-moz-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-webkit-box-shadow: 0px 0px 10px 5px #F9BA5D;
	box-shadow:         0px 0px 10px 5px #F9BA5D;
}
.characterHeader.angel {
	background: #C2E9FF;
	color:#000;
}
.characterHeader.angel h1 {
	color:#000;
}
.characterHeader.angel .image {
	-o-box-shadow:    0px 0px 10px 5px #fff;
	-ms-box-shadow:    0px 0px 10px 5px #fff;
	-moz-box-shadow:    0px 0px 10px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px 5px #fff;
	box-shadow:         0px 0px 10px 5px #fff;
}

.ViewCharacterEditor .tabContainer {
}
.ViewCharacterEditor .tabContentContainer {
	margin:0 auto;
	overflow: auto;
	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);	
	width: 100%;

	position: absolute;
	top: 23%;
	bottom: 1px;
	padding-bottom: 10px;
}
.ViewCharacterEditor .tabContent.strategy .wrapper {
	width:320px;
	margin:0 auto;
}

.ViewCharacterEditor .tabContent h1,
#appDialog h1 {
	font-size: 1.3em;
	margin:0;
	padding:0;
	font-weight: bold;
	font-variant: small-caps;
}
.ViewCharacterEditor .tabContent h2,
#appDialog h2 {
	font-size:1.2em;
	font-style: italic;
	font-weight: 100;
	margin:0;
	padding:0;
}
.statBlock .statBlockTitle {
	font-weight: bold;
	padding-left:10px;
	position: relative;
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
}
.statBlock .statBlockEdit {
	position: absolute;
	right:0;
	top:0;
	color:#000;
	border-radius: 10px 10px 0 0;
	margin-right:10px;
	background: #fff url('../img/pencil.png') 5px 50% no-repeat;
	padding:0 15px 0 25px;
	font-size:.8em;
	font-weight: 100;
	border:1px solid #ccc;
	border-bottom: none;
	line-height: 24px;
}
.statBlock.editMode .statBlockEdit {
	background-color: #eee;
	border:1px solid #000;
	border-bottom: none;
}

.abilityDescription {
	font-size: .8em;
	padding: 0 10px 0 10px;
	font-style: italic;
}
.abilityBox {
	margin-bottom:5px;
	display:block;
	text-decoration: none;
	color:#000;
	font-size: .8em;
	border: 1px solid #fff;
	height:60px;
	overflow: hidden;
}
.abilityBox .ability {
}
.abilityBox .fauxlink.action {
	height:100%;
	float:right;
	width:50px;
	text-align: center;
	background:#eee url('../img/pencil.png') 50% 50% no-repeat;
	display: none;
}
.abilityBox .fauxlink.action.delete {
	background:#eee url('../img/delete.png') 50% 50% no-repeat;
}
.abilityBox .fauxlink.action.add {
	background:#eee url('../img/add.png') 50% 50% no-repeat;
}
.abilityBox.new {
	display: none;
}
/**
 * Edit Mode
 */
.editMode .abilityBox {
	border: 1px dotted #ff0000;
}
.editMode .abilityBox.new  {
	display: block;
}
.editMode .abilityBox .ability {
	margin-right:50px;
}
.editMode .abilityBox .fauxlink.action {
	display: block;
}

.abilityBox .name {
	font-weight:bold;
	padding-left:10px;
	padding-top:5px;
}
.abilityBox .shortDesc {
	padding-left:10px;
	padding-bottom:5px;
}
.abilityBox .deleteBox {
	height: 60px;
	padding:0 10px;
}
.abilityBox .deleteBox b {
	display: block;
	clear:both;
	margin-top: 5px;
	margin-bottom: 3px;
}
.abilityBox .deleteBox .fauxlink {
	line-height:30px;
	text-align: center;
	background: #eee;
	padding:0 30px;
}
.abilityBox .deleteBox .fauxlink.deleteConfirm {
	float:right;
}
.abilityBox .deleteBox .fauxlink.deleteCancel {
	float:left;
}
.statBlock {
	box-shadow: 10px 10px 10px #eee;
	padding-bottom:10px;
	margin-bottom:10px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-top:5px;
}
.statBlock.first {
	padding-top:10px;
	border-top:none;
}
.statBlock.last {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom: none;
}
.tacticContainer {
	margin:0 10px 10px 10px;
}
.tacticContainer .statGoodLabel {
	float:right;
}
.tacticContainer .statEvilLabel {
}
.tacticContainer.strategy {
	font-weight:bold;
}
.tacticSide {
	margin:5px 0;
	height:33px;
}
/*
.tacticSide .statBar {
	margin:0 10px;
}*/
.tacticSide.good {
	padding-right:27px;
}
.tacticSide.evil {
	padding-left:27px;
}
.tacticSide.evil .decrement {
	margin-left: 0;
}
.tacticSide.good .decrement {
	margin-right: 0;
}
.tacticSide .statBar .dotEmpty,
.tacticSide .statBar .dotGood,
.tacticSide .statBar .dotEvil {
	float:left;
	width:26px;
	height:26px;
	background-size: cover;
	background-repeat: no-repeat;
}
.tacticSide .statBar .dotEmpty {
	background-image: url('../img/dotEmpty.png');
}
.tacticSide .statBar .dotGood {
	background-image: url('../img/dotEvil.png');
}
.tacticSide .statBar .dotEvil {
	background-image: url('../img/dotGood.png');
}

.tacticSide .fauxlink {
	display:block;
	
	height:24px;
	width:24px;
	line-height: 24px;
	text-align: center;

	margin:0 5px;
	border: 1px solid #333;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	background: #eee;
	color:#000;
	text-decoration: none;
	font-weight: 100;
	font-size:.9em;

}
.tacticSide.evil .fauxlink:active {
	background: red;
	color: #fff;
}
.tacticSide.good .fauxlink:active {
	background: blue;
	color:#fff;
}
.tacticSide .fauxlink.slide {
	width:auto;
	padding:0 10px;
	margin:0;
}


.tacticSide .statBar {
	display:block;
}
.tacticSide .statBar .stat {
	height:42px;
}
.tacticSide.evil .statBar .stat {
	background:red;
}
.tacticSide.good .statBar .stat {
	background:blue;
	float:right;
}
.tacticSide.evil span,
.tacticSide.evil .fauxlink,
.tacticSide.evil .statBar {
	float:left;
}
.tacticSide.good span,
.tacticSide.good .fauxlink,
.tacticSide.good .statBar {
	float:right;
}

#appDialog p {
	margin:5px 0 5px 0;
}
#appDialog .abilityListContainer {
	position: absolute;
	left:5%;
	top:8%;
	bottom:12%;
	width:26%;
	height:auto;
	overflow: auto;
	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
	font-size:.7em;
}
#appDialog .abilityList .abilityGroup {
	margin-bottom:10px;
}
#appDialog .abilityList .abilityGroup.active {
	color:#fff;
}
#appDialog .abilityList .abilityGroup .groupLabel {
	display: block;
	line-height: 25px;
	text-decoration: none;
	color:#000;
	padding:0 0 0 5px;
	border: 1px solid #000;
	border-bottom:3px solid #666;	
}
#appDialog .abilityList .abilityGroup.active .groupLabel {
	font-weight: bold;
	background: #ccc;	
}
#appDialog .abilityList .fauxlink.ability {
	display: none;
	text-decoration: none;
	color:#000;
	padding:10px 0 10px 5px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom:1px solid #ccc;
	font-size:.8em;
}
#appDialog .abilityList .fauxlink.ability.last {
	border-radius:0 0 10px 10px;
	border-bottom:1px solid #000;
}
#appDialog .abilityList .abilityGroup.active .fauxlink.ability {
	display:block;
}
#appDialog .abilityList .fauxlink.selected {
	background: blue;
	color:#fff;
}
#appDialog .abilityDetails {
	position: absolute;
	right:5%;
	top:8%;
	bottom:12%;
	width:60%;
	overflow: auto;
	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
	font-size:.7em;	
}
#appDialog .abilityDetails .abilityTitle {
	font-size:1em;
	font-weight: bold;
}
#appDialog .abilityDetails .abilitySubTitle {
	font-style: italic;
}
#appDialog .abilityDetails table {
	border:1px solid #000;
	border-collapse: collapse;
}
#appDialog .abilityDetails table td {
	margin:0;
	padding:10px;
}
#appDialog .abilityDetails th {
	font-weight: bold;
	background: #eee;
}
#appDialog .controls {
	position:absolute;
	left:5%;
	right:5%;
	bottom:2%;
}
#appDialog .controls div {
	display: block;
	border:1px solid #000;
	text-align: center;
	float:left;
	text-decoration:none;
	background: #8e1000;
	color:#fff;
	font-variant: small-caps;
	line-height:2em;
}
#appDialog .controls div.cancel {
	background: #eee;
	color:#000;
}
#appDialog .controls.two_buttons div {
	width:47%;
}
#appDialog .controls.two_buttons div:last-child {
	float:right;
}
#appDialog .controls.one_button div {
	width:100%;
}

#appDialog .formElement {
	margin-bottom:10px;
	clear:both;
}

#appDialog .formElement input[type="text"] {
	width:260px;
	font-size:.9em;
}
#appDialog .formElement select {
	width:260px;
	font-size:.9em;
}
#appDialog .formElementLabel {
	font-size:.9em;
}
#appDialog .formElement select optgroup option{
	padding-left:30px;
}
#appDialog .formElement label,
#appDialog .formElement .radioButton {
	float:left;
	padding:5px;
	margin:5px 10px 0 0;
	border:1px solid #ccc;
	width:45%;
	text-decoration: none;
	color:#000;
}
#appDialog .formElement .radioButton.selected {
	background:blue;
	color:#fff;
}


.ViewCharacterList .tabContentContainer {
	margin:0 auto;
	overflow: auto;
	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
	height: auto;
	width: 100%;

	position: absolute;
	top: 7%;
	bottom: 1px;
	padding-bottom: 10px;
}
.ViewCharacterList .tabContent .empty {
	text-align: center;
	padding:50px 0;
}
.ViewCharacterList .tabContent .groupName {
	padding:10px;
	border-bottom:3px solid #333;
}
.characterRow .image {
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	background: #fff;
	border:1px solid #333;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.characterRow {
	clear:both;
	display:block;
	text-decoration: none;
	height:70px;
}
.characterRow .rider {
}
.characterRow .character {
	font-size:.8em;
}
.characterRow .cost {
	font-size:.8em;
}
.characterRow.demon {
	background: #000;
	color:#fff;
}
.characterRow.demon .fauxlink.view {
	color:#fff;
}
.characterRow.demon .rider {
	color:yellow;
}
.characterRow.demon .image {
	-o-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-ms-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-moz-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-webkit-box-shadow: 0px 0px 10px 5px #F9BA5D;
	box-shadow:         0px 0px 10px 5px #F9BA5D;
}
.characterRow.angel {
	background: #C2E9FF;
	color:#000;
}
.characterRow.angel .rider,
.characterRow.angel .fauxlink {
	color:#000;
}
.characterRow.angel .image {
	-o-box-shadow:    0px 0px 10px 5px #fff;
	-ms-box-shadow:    0px 0px 10px 5px #fff;
	-moz-box-shadow:    0px 0px 10px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px 5px #fff;
	box-shadow:         0px 0px 10px 5px #fff;
}
.characterRow .view {
	padding:10px 0 10px 10px;
}
.characterRow .delete,
.characterRow .loading {
	float:right;
	width:50px;
	text-align: center;
	height:100%;
	color:red !important;
	display:block;
	background:#eee url('../img/delete.png') 50% 50% no-repeat;
}
.characterRow .delete:hover,
.characterRow .delete:active {
	text-decoration: none;
}

.characterRow .loading {
	background: #eee url('../img/ajax-loader.gif') 50% 50% no-repeat;
	display: none;
}
.characterRow.loading .delete {
	display: none;
}
.characterRow.loading .loading {
	display:block;
}

.ViewTabMore .statBlock .content {
	font-size: .8em;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
}
.ViewTabMore .statBlock.groupMetaTag label {
	float: left;
	display: none;
	margin-bottom:5px;
}
.ViewTabMore .statBlock.groupMetaTag label.active {
	display: block;
}
.ViewTabMore .statBlock.groupMetaTag label input {
	float: left;
}
.ViewTabMore .statBlock.groupMetaTag label span {
	display: block;
	margin-left:20px;
}
.ViewTabMore .statBlock.groupMetaTag .newMetaTag {
	display: none;
}

.ViewTabMore .statBlock.groupMetaTag .newMetaTag .newLabel {
	float: left;
}
/**
 * Edit Mode
 */
.ViewTabMore .statBlock.editMode.groupMetaTag label {
	display: block;
	width:33%;
}
.ViewTabMore .statBlock.editMode.groupMetaTag .newMetaTag {
	display: block;
}

.ViewDialogTextarea .textareaWrapper {
	position: absolute;
	top:8%;
	left:5%;
	right:5%;
	bottom:12%;
}
.ViewDialogTextarea textarea {
	height:100%;
}

#appDialog .loading {
	text-align: center;
	background-image: url('../img/spinner.gif');
	background-position: 50% 0;
	padding-top:120px;
	background-repeat: no-repeat;
	background-size: 40%;
}
.ViewDialogFacebookSessionLost .content {
	text-align: center;
	margin-top:20px;
	margin-bottom:20px;	
}

.specialtyContent {
	padding:5px 10px;
}
.specialtyContent .slot {
	margin-bottom:5px;	
}
.specialtyContent .slotNumber {
	float:left;
	width:10%;
	font-weight: bold;
}
.specialtyContent input {
	display: none;
}
.specialtyContent label {
	display: block;
	float:left;
	width: 90%;
}
.specialtyContent .slot.empty {
	display: none;
}
.editMode .specialtyContent input {
	display: block;
	float:left;
	width:90%;
}
.editMode .specialtyContent label {
	display: none;
}
.editMode .specialtyContent .slot.empty {
	display: block;
}

/**********************
* Facebook Album Selector
**********************/
.facebookPhotoContainer {
	position: absolute;
	top:8%;
	left:5%;
	right:5%;
	bottom:12%;
	height:auto;
	overflow: auto;

	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
}
.facebookPhotoContainer .info {
	font-size: .7em;
}
.facebookPhotoContainer .fauxlink.album {
	margin-bottom:2%;
	padding:2%;
	border-bottom:1px solid #ccc;
}
.facebookPhotoContainer .fauxlink.album img {
	vertical-align: middle;
	width:15%;
	float: left;
}
.facebookPhotoContainer .fauxlink.album .name {
	width:80%;
	float: right;
}
.facebookPhotoContainer .fauxlink.album .privacy {
	color:#333;
	font-size: .8em;
}

.facebookPhotoContainer .fauxlink.photo {
	width:33%;
	display: inline-block;
}
.facebookPhotoContainer .fauxlink.photo img {
	padding:5%;
	vertical-align: middle;
	border:1px solid #ccc;
}
.error {
	color:#ff0000;
	text-align: center;
}

/*
 * Amazing Clear Block script
 */

.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
/* End hide from IE-mac */