* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background:#ccc;
	font-size: 100%;
	padding:0;
	margin:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	user-select: none;
	font-family: Verdana;
}
html, body, div, span, object, form, input, h1, h2, button, label, a, img {
	user-select: none;
	user-drag: none;
}
input[type=text] {
	user-select: text;
}
h1, h2, h3, h4, h5, h6  {
	margin:0;
	padding:0;
	font-weight: 100;
	font-size: 1rem;
}
a,
a:hover {
	text-decoration: none;
}
@font-face {
    font-family: 'AnimeAce2';
    src: url('../fonts/animeace2_bld.eot');
    src: url('../fonts/animeace2_bld.eot') format('embedded-opentype'),
         url('../fonts/animeace2_bld.woff') format('woff'),
         url('../fonts/animeace2_bld.ttf') format('truetype'),
         url('../fonts/animeace2_bld.svg#AnimeAce2') format('svg');
}

#appRoot {
	position: relative;	
	width: 100%;
	height: 100%;
	overflow: hidden;
}
@media only screen and (min-width: 1000px) {
  /* rules that only apply for canvases larger than 1200px */
  #appRoot {
  	width:320px;
  	height:480px;
  }
}

/**********************
* Biggest Blocks
**********************/
#appHeader {
	height:6%;
	background: #842216;
	overflow: hidden;
}
#appContent {
	position: absolute;
	top:6%;
	left:0;
	right:0;
	bottom:0;
	height:auto;
	overflow: auto;

	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
}


/**********************
* Header Elements Blocks
**********************/
#appHeader #appTitle {
	position: absolute;
	left:0;
	top:0;
	width:50%;
	height: 6%;
	display: table;
}
#appHeader #appStatus {
	float:right;
	height:100%;
	width:45%;
}
#appHeader #appBackButton {
	float:right;
	width:20%;
	height:100%;
	display: table;
}

/**********************
* Header Elements Details
**********************/
#appHeader #appTitle span {
	display: table-cell;
	vertical-align: middle;
	font-size:.8rem;
	font-variant: small-caps;
	text-indent: 2%;
	color:#fff;
}
#appHeader #appStatus {
	text-align: right;
	height:100%;
}
#appHeader #appBackButton span {
	background: #eee;
	color:#000;
	text-decoration: none;
	text-align: center;
	padding-top:1.5%;
	display: table-cell;
	vertical-align: middle;
}
#appHeader #appStatus .icon {
	display: inline-block;
	margin-top:3%;
	height:70%;
	width:20%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right:2%;
}
#appHeader #appStatus .icon.facebook {
	background-image: url('../img/ui/facebook.gif');
}
#appHeader #appStatus .icon.user {
	background-image: url('../img/ui/user.png');
}
#appHeader #appStatus .icon.anonymous {
	background-image: url('../img/ui/user_unknown.png');
}
#appHeader #appStatus .icon.server {
	background-image: url('../img/ui/server.png');
}
#appHeader #appStatus .icon.disk {
	background-image: url('../img/ui/disk.png');	
}
#appHeader #appStatus .icon.success {
	background-image: url('../img/ui/success.png');
}
#appHeader #appStatus .icon.error {
	background-image: url('../img/ui/error.png');	
}
#appHeader #appStatus .icon.busy {
	background-image: url('../img/ui/ajax-loader.gif');	
}


#appBackButton:hover {
	text-decoration: none;	
}

/**********************
* Dialog Box
**********************/
#appOverlay {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
	background-image: url('../img/ui/overlay.png');
	display: none;
}
#appOverlay.active {
	display: block;
}
#appDialog {
	border: 2px solid #000;
	background: #fff;
	position: absolute;
	left:2%;
	top:2%;
	right:2%;
	bottom:2%;
	display: none;
	box-shadow: 1px 1px 7px 2px #999;
}
#appDialog.active {
	display:block;
}
#appDialogHeader {
	background: #842216;	
	font-family: AnimeAce2;
	color:#fff;
	font-size: .7rem;
	height: 5%;
	padding-left:5%;
	display:table;
	width:100%;
}
#appDialogHeader span {
	display: table-cell;
	vertical-align: middle;
}
#appDialogContent {
	padding:2% 5% 2% 5%;
}
#appDialog.narrow {
	top:25%;
	bottom:25%;
}
#appDialog.narrow .controls {
	bottom:5%;
}
#appDialog.narrow #appDialogHeader {
	height:10%;
}
#appDialog.wide #appDialogContent {
	padding:0;
}


.fauxlink {
	cursor:pointer;
}

h1.betterAngelsTitle {
	font-weight:bold;
	font-variant: small-caps;
	text-align: center;
	background: url('../img/ui/logo.jpg') 50% 50% no-repeat;
	background-size: contain;
	height:40%;
}
h1.betterAngelsTitle b {
	margin-left:40px;
	display: block;
}

.page {
	height:100%;
	background-color: #fff;
}
.page.dynamic {
	background:#fff url('../img/ui/fire-border.jpg') 0 100% no-repeat;
	background-size: contain;
}
.page .wrapper {
	padding:2% 5%;
	height:96%;
}
.page.ViewCharacterEditor .wrapper {
	padding:0;
}
.page.dynamic h1 {
	font-size: 1.3rem;
	margin:0 0 .5em 0;
	padding:0;
	font-weight: bold;
	font-variant: small-caps;
}
.page.dynamic p {
	margin: .5em 0;
}

.page .fauxlink.children {
	display: block;
	text-align: center;
	border:1px solid #ccc;
	margin-bottom:.5em;
	width:48%;
	height:15%;
	float:right;
	position: relative;
}
.page .fauxlink.children:nth-child(odd) {
	float:left;
}
.page .fauxlink.children:active {
	background: #e11900;
	color:#fff;
}
.page .fauxlink.children div {
	width:100%;
	height:100%;
  	display: table;	
}
.page .fauxlink.children div p {
	display: table-cell; 
  	vertical-align: middle;
}



p {
	margin:0;
	padding:0;
}

textarea {
	width:100%;
}

.userAccount {
	margin-top:13%;
	margin-bottom:5%;
	height:2rem;
}

.facebookStatus {
	margin:0 auto;
	text-align: center;
}
.facebookStatus .facebookLogin {
	display: block;
	background: #fff url('../img/ui/facebook_login.png') 50% 50% no-repeat;
	margin:0 auto;
	background-size: contain;
	font-size: 2rem;
}
.facebookStatus .facebookLoggedIn {
	line-height: 2rem;
}

.characterHeader {
	display: block;
	padding:10px;
	height:72px;
	position:relative;
	text-decoration: none;
}
.characterHeader:active {
	background: #fff;
}
.characterHeader h1 {
	font-size:1.2rem;
	font-variant: small-caps;
	font-weight: bold;
	font-family: AnimeAce2;
	line-height: 1.5rem;
}
.characterHeader h2 {
	font-size: .8rem;
}
.characterHeader h3 {
	float:right;
}
.characterHeader .image {
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	background: #fff;
	border:1px solid #333;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.characterHeader .boundingBox {
	display: block;
	position: absolute;
	left:22%;
	top:10px;
	width:78%;
	height:50px;
}
.characterHeader.demon {
	background: #000;
	color:#fff;
}
.characterHeader.demon h1 {
	color:yellow;
}
.characterHeader.demon .image {
	-o-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-ms-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-moz-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-webkit-box-shadow: 0px 0px 10px 5px #F9BA5D;
	box-shadow:         0px 0px 10px 5px #F9BA5D;
}
.characterHeader.angel {
	background: #C2E9FF;
	color:#000;
}
.characterHeader.angel h1 {
	color:#000;
}
.characterHeader.angel .image {
	-o-box-shadow:    0px 0px 10px 5px #fff;
	-ms-box-shadow:    0px 0px 10px 5px #fff;
	-moz-box-shadow:    0px 0px 10px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px 5px #fff;
	box-shadow:         0px 0px 10px 5px #fff;
}

.ViewCharacterEditor .tabContainer {
}
.ViewCharacterEditor .tabContentContainer {
	margin:0 auto;
	overflow: auto;
	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);	
	width: 100%;

	position: absolute;
	top: 24%;
	bottom: 1px;
	padding-bottom: 10px;
}
.ViewCharacterEditor .tabContent.strategy .wrapper {
	margin:0 auto;
}

.ViewCharacterEditor .tabContent h1 {
	font-size: 1.3rem;
	margin:0;
	padding:0;
	font-weight: bold;
	font-variant: small-caps;
}

.ViewCharacterEditor .tabContent h2,
#appDialog h2 {
	font-size:1.2rem;
	font-style: italic;
	font-weight: 100;
	margin:0;
	padding:0;
}
.statBlock .statBlockTitle {
	font-weight: bold;
	padding-left:10px;
	position: relative;
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
}
.statBlock .statBlockEdit {
	position: absolute;
	right:0;
	top:0;
	color:#000;
	border-radius: 10px 10px 0 0;
	margin-right:10px;
	background: #fff url('../img/ui/pencil.png') 5px 50% no-repeat;
	padding:0 15px 0 25px;
	font-size:.8rem;
	font-weight: 100;
	border:1px solid #ccc;
	border-bottom: none;
	line-height: 24px;
}
.statBlock.editMode .statBlockEdit {
	background-color: #eee;
	border:1px solid #000;
	border-bottom: none;
}

.abilityDescription {
	font-size: .8rem;
	padding: 0 10px 0 10px;
	font-style: italic;
}
.abilityBox {
	margin-bottom:5px;
	display:block;
	text-decoration: none;
	color:#000;
	font-size: .8rem;
	border: 1px solid #fff;
	height:60px;
	overflow: hidden;
}
.abilityBox.edit,
.abilityBox.delete {
	border: 1px dotted #ff0000;
}
.abilityBox.new {
	display: none;
}
.abilityBox.new.edit {
	display: block;
}
.abilityBox .fauxlink.action {
	height:100%;
	float:right;
	width:50px;
	text-align: center;
	background:#eee url('../img/ui/pencil.png') 50% 50% no-repeat;
}
.abilityBox .fauxlink.action.delete {
	background:#eee url('../img/ui/delete.png') 50% 50% no-repeat;
}
.abilityBox .fauxlink.action.add {
	background:#eee url('../img/ui/add.png') 50% 50% no-repeat;
}
.abilityBox.new {
	display: none;
}
.abilityBox .numDice {
	float:right;
	padding-right: 10px;
}
/**
 * Edit Mode
 */
.abilityBox .name {
	font-weight:bold;
	padding-left:10px;
	padding-top:5px;
}
.abilityBox .shortDesc {
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}
.abilityBox .deleteBox {
	height: 60px;
	padding:0 10px;
}
.abilityBox .deleteBox b {
	display: block;
	clear:both;
	margin-top: 5px;
	margin-bottom: 3px;
}
.abilityBox .deleteBox .fauxlink {
	line-height:30px;
	text-align: center;
	background: #eee;
	padding:0;
	width:45%;
}
.abilityBox .deleteBox .fauxlink.deleteConfirm {
	float:right;
	background:#8e1000;
	box-shadow: 2px 2px 2px 3px #c23624 inset;
	color:#fff;
}
.abilityBox .deleteBox .fauxlink.deleteCancel {
	float:left;
}
.statBlock {
	box-shadow: 10px 10px 10px #eee;
	padding-bottom:10px;
	margin-bottom:10px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-top:5px;
}
.statBlock.first {
	padding-top:10px;
	border-top:none;
}
.statBlock.last {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom: none;
}
.tacticContainer {
	margin:0 10px 10px 10px;
}
.tacticContainer .statGoodLabel {
	text-align: right;
}
.tacticContainer .statEvilLabel {
}
.tacticContainer .statLabel {
	line-height: 1rem;
}
.tacticContainer .statLabel .dice {
	display: inline-block;
	padding: 0 5px;
}
.tacticContainer .statLabel .description {
	color:#999;
	font-size: .6rem;
	display: inline-block;
	padding:0 2%;
	line-height: 1rem;
}
.tacticContainer.strategy {
	font-weight:bold;
}
.tacticSide {
	margin:5px 0;
	height:2rem;
}

.tacticSide.good {
	padding-left:10%;
}
.tacticSide.evil {
	padding-right:10%;
}
.tacticSide.evil .decrement {
	margin-left: 0;
}
.tacticSide.good .decrement {
	margin-right: 0;
}
.tacticSide .statBar {
	width:48%;
}
.tacticSide .statBar .dotEmpty,
.tacticSide .statBar .dotGood,
.tacticSide .statBar .dotEvil {
	float:right;
	width:20%;
	height:1.6rem;
	background-size: contain;
	background-repeat: no-repeat;
}
.tacticSide .statBar .dotEmpty {
	background-image: url('../img/ui/dotEmpty.png');
}
.tacticSide .statBar .dotGood {
	background-image: url('../img/ui/dotEvil.png');
}
.tacticSide .statBar .dotEvil {
	background-image: url('../img/ui/dotGood.png');
}

.tacticSide .fauxlink {
	display:block;
	
	height:1.5rem;
	width:9%;
	line-height: 22px;
	text-align: center;

	margin:0 2%;
	border: 1px solid #ccc;
	background: #eee;
	color:#000;
	text-decoration: none;
	font-weight: 100;
	font-size:.9rem;

	box-shadow:1px 1px 4px #fff inset, 1px 1px 3px #ccc;
	border-radius: 5px;

}
.tacticSide.evil .fauxlink:active {
	background: red;
	color: #fff;
}
.tacticSide.good .fauxlink:active {
	background: blue;
	color:#fff;
}
.tacticSide .fauxlink.slide {
	width:auto;
	padding:0 3%;
	margin:0;
}


.tacticSide .statBar {
	display:block;
}
.tacticSide .statBar .stat {
	height:42px;
}
.tacticSide.evil .statBar .stat {
	background:red;
}
.tacticSide.good .statBar .stat {
	background:blue;
	float:right;
}
.tacticSide.evil span,
.tacticSide.evil .fauxlink,
.tacticSide.evil .statBar {
	float:right;
}
.tacticSide.good span,
.tacticSide.good .fauxlink,
.tacticSide.good .statBar {
	float:left;
}

#appDialog p {
	margin:5px 0 5px 0;
}
#appDialog .abilityDetails .numDice {
	float: right;
	margin-right: 1%;
}
#appDialog .abilityDetails p{
	font-size: .8rem;
}
#appDialog .abilityDetails table {
	border:1px solid #000;
	border-collapse: collapse;
}
#appDialog .abilityDetails table td {
	margin:0;
	padding:3%;
	font-size: .8rem;
}
#appDialog .abilityDetails th {
	font-weight: bold;
	background: #eee;
	font-size: .8rem;
}
#appDialog .controls {
	position:absolute;
	left:5%;
	right:5%;
	bottom:2%;
}
#appDialog .controls div {
	display: block;
	text-align: center;
	float:left;
	text-decoration:none;

	color:#fff;
	font-variant: small-caps;
	line-height:2em;

	background:#8e1000;
	box-shadow: 2px 2px 2px 3px #c23624 inset;
}
#appDialog .controls div.cancel {
	background: #eee;
	color:#000;
	box-shadow: none;
	box-shadow: 0px 0px 2px 3px #ccc inset;
}
#appDialog .controls.two_buttons div {
	width:47%;
}
#appDialog .controls.two_buttons div:last-child {
	float:right;
}
#appDialog .controls.one_button div {
	width:100%;
}

#appDialog .formElement {
	margin-bottom:10px;
	clear:both;
}

#appDialog .formElement input[type="text"] {
	font-size:.9rem;
	width:100%;
}
#appDialog .formElement select {
	width:100%;
	font-size:.9rem;
}
#appDialog .formElementLabel {
	font-size:.9rem;
}
#appDialog .formElement select optgroup option{
	padding-left:30px;
}
#appDialog .formElement label,
#appDialog .formElement .radioButton {
	float:left;
	padding:5px;
	border:1px solid #ccc;
	width:48%;
	text-decoration: none;
	color:#000;
}
#appDialog .formElement .radioButton.selected {
	background:blue;
	color:#fff;
}
#appDialog .formElement .radioButton:nth-child(2) {
	float: right;
	margin-right: 0;
}

.ViewCharacterList .tabContentContainer {
	margin:0 auto;
	overflow: auto;
	-webkit-overflow-scrolling : touch;
	user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
	height: auto;
	width: 100%;

	position: absolute;
	top: 7%;
	bottom: 1px;
	padding-bottom: 10px;
}
.ViewCharacterList .tabContent .empty {
	text-align: center;
	padding:50px 0;
}
.ViewCharacterList .tabContent .groupName {
	padding:10px;
	border-bottom:3px solid #333;
}
.characterRow .image {
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	background: #fff;
	border:1px solid #333;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.characterRow {
	clear:both;
	display:block;
	text-decoration: none;
	height:70px;
}
.characterRow .rider {
	font-family: AnimeAce2;
	font-size: .8rem;
}
.characterRow .character {
	font-size:.8rem;
}
.characterRow .cost {
	font-size:.8rem;
}
.characterRow.demon {
	background: #000;
	color:#fff;
}
.characterRow.demon .fauxlink.view {
	color:#fff;
}
.characterRow.demon .rider {
	color:yellow;
}
.characterRow.demon .image {
	-o-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-ms-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-moz-box-shadow:    0px 0px 10px 5px #F9BA5D;
	-webkit-box-shadow: 0px 0px 10px 5px #F9BA5D;
	box-shadow:         0px 0px 10px 5px #F9BA5D;
}
.characterRow.angel {
	background: #C2E9FF;
	color:#000;
}
.characterRow.angel .rider,
.characterRow.angel .fauxlink {
	color:#000;
}
.characterRow.angel .image {
	-o-box-shadow:    0px 0px 10px 5px #fff;
	-ms-box-shadow:    0px 0px 10px 5px #fff;
	-moz-box-shadow:    0px 0px 10px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px 5px #fff;
	box-shadow:         0px 0px 10px 5px #fff;
}
.characterRow .view {
	padding:10px 0 10px 10px;
}
.characterRow .delete,
.characterRow .loading {
	float:right;
	width:50px;
	text-align: center;
	height:100%;
	color:red !important;
	display:block;
	background:#eee url('../img/ui/delete.png') 50% 50% no-repeat;
}
.characterRow .delete:hover,
.characterRow .delete:active {
	text-decoration: none;
}

.characterRow .loading {
	background: #eee url('../img/ui/ajax-loader.gif') 50% 50% no-repeat;
	display: none;
}
.characterRow.loading .delete {
	display: none;
}
.characterRow.loading .loading {
	display:block;
}

.ViewTabMore .statBlock .content {
	font-size: .8rem;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
}
.ViewTabMore .statBlock.groupMetaTag label {
	float: left;
	display: none;
	margin-bottom:5px;
}
.ViewTabMore .statBlock.groupMetaTag label.active {
	display: block;
}
.ViewTabMore .statBlock.groupMetaTag label input {
	float: left;
}
.ViewTabMore .statBlock.groupMetaTag label span {
	display: block;
	margin-left:20px;
}
.ViewTabMore .statBlock.groupMetaTag .newMetaTag {
	display: none;
}

.ViewTabMore .statBlock.groupMetaTag .newMetaTag .newLabel {
	float: left;
}
/**
 * Edit Mode
 */
.ViewTabMore .statBlock.editMode.groupMetaTag label {
	display: block;
	width:33%;
}
.ViewTabMore .statBlock.editMode.groupMetaTag .newMetaTag {
	display: block;
}

.ViewDialogTextarea .textareaWrapper {
	position: absolute;
	top:8%;
	left:5%;
	right:5%;
	bottom:12%;
}
.ViewDialogTextarea textarea {
	height:100%;
}

#appDialog .loading {
	text-align: center;
	background-image: url('../img/ui/spinner.gif');
	background-position: 50% 0;
	padding-top:120px;
	background-repeat: no-repeat;
	background-size: 40%;
}
.ViewDialogFacebookSessionLost .content {
	text-align: center;
	margin-top:20px;
	margin-bottom:20px;	
}

.specialtyContent {
	padding:5px 10px;
}
.specialtyContent .slot {
	margin-bottom:5px;	
}
.specialtyContent .slotNumber {
	float:left;
	width:10%;
	font-weight: bold;
}
.specialtyContent input {
	display: none;
}
.specialtyContent label {
	display: block;
	float:left;
	width: 90%;
}
.specialtyContent .slot.empty {
	display: none;
}
.editMode .specialtyContent input {
	display: block;
	float:left;
	width:90%;
}
.editMode .specialtyContent label {
	display: none;
}
.editMode .specialtyContent .slot.empty {
	display: block;
}

/**********************
* Facebook Album Selector
**********************/
.currentCharacterImage {
	text-align: center;
	padding:10px 0;
	border-radius:10px;	
	background: #ccc;
	margin-bottom:10px;
}
.currentCharacterImage .imageContainer {
	height:150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin:0 auto;
}
.imageGallery img {
	width:32%;
	margin-right:2%;
	margin-bottom: 3%;
	border:1px solid #ccc;
	padding:2%;
	float: left;
}
.imageGallery img:nth-child(3n+0) {
	margin-right: 0;
	float: right;
}
.imageGallery img.selected {
	background: #8e1000;
}
.facebookPhotoContainer .loading {
	text-align: center;
}
.facebookPhotoContainer .info {
	font-size: .7rem;
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
}

.facebookPhotoContainer .fauxlink.back {
	display: block;
	text-align: center;
	text-decoration:none;

	color:#fff;
	font-variant: small-caps;
	line-height:2em;

	background:#8e1000;
	box-shadow: 2px 2px 2px 3px #c23624 inset;
	margin-bottom: 10px;

}
.facebookPhotoContainer .fauxlink.album {
	margin-bottom:2%;
	padding:2%;
	border-bottom:1px solid #ccc;
}
.facebookPhotoContainer .fauxlink.album img {
	vertical-align: middle;
	width:15%;
	float: left;
}
.facebookPhotoContainer .fauxlink.album .name {
	width:80%;
	float: right;
}
.facebookPhotoContainer .fauxlink.album .privacy {
	color:#333;
	font-size: .8rem;
}
.error {
	color:#ff0000;
	text-align: center;
}

/*
 * Amazing Clear Block script
 */

.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
/* End hide from IE-mac */