<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "2.2.0">
    <name>Better Angels</name>

    <description>
        Character Generator for Arc Dreams' Better Angels RPG.
    </description>

    <author href="http://cardboardshark.com" email="andrew@cardboardshark.com">
        CardBoardShark
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    <preference name="webviewbounce"    value="false" />

</widget>
